body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
section {
  margin-bottom: 80px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
.flex-container {
  display: flex;
  margin-right: 10%;
  margin-left: 10%;
}
.tomato-color {
  color: tomato;
}
.half-side {
  width: 50%;
}
.half-side img {
  width: 60%;
  margin-left: 200px;
}
.top-header {
  padding-left: 10px;
  border-left: 5px solid #6a6ad4;
}
.link-btn {
  text-decoration: none;
  color: white;
  background-color: #e95555;
  padding: 10px 30px;
  border-radius: 5px;
}
.my-mission {
  text-align: center;
}
.mission-area {
  margin-left: 5%;
  margin-right: 5%;
}
.mission-item {
  width: 300px;
  margin: 10px;
  background-color: #ecbaba;
  border-radius: 10px;
  padding: 30px;
  margin: ;
}
.mission-item img {
  width: 60%;
}

.developer-image {
  width: 40%;
  margin-right: 30px;
}
.developer-image img {
  width: 100%;
}
.developer-content {
  width: 60%;
}
.community-content {
  width: 60%;
  margin-right: 30px;
}
.community-image {
  width: 40%;
}
.community-image img {
  width: 100%;
}
