body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
section {
  margin-bottom: 80px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
}
.tomato-color {
  color: tomato;
}
.half-side {
  width: 50%;
}
.half-side img {
  width: 60%;
  margin-left: 200px;
  margin-top: 50px;
}
.top-header {
  padding-left: 10px;
  border-left: 5px solid blue;
}
.link-btn {
  text-decoration: none;
  color: white;
  background-color: #e95555;
  padding: 10px 30px;
  border-radius: 5px;
}
.my-mission {
  text-align: center;
}
.mission-item {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  padding: 30px;
}
.mission-item img {
  width: 60%;
}
.bg-color-one {
  background-color: #dce6e7;
}
.bg-color-two {
  background-color: #eee3e3;
}
.dev-bg-image {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20%;
}
.developer-image {
  width: 40%;
}
.developer-image img {
  width: 80%;
}
.developer-content {
  width: 60%;
}
.community-content {
  width: 60%;
}
.community-image {
  width: 40%;
}
.community-image img {
  width: 80%;
}
#team-title {
  text-align: center;
}
.single-person {
  width: 230px;
  height: 230px;
  padding: 50px;
  background-color: rgb(247, 230, 230);
  border-radius: 100%;
}
.single-person img {
  width: 100%;
}
.single-person h3{
  text-align:center;
}
.footer-area{
  text-align:center;
  margin-top:250px;
  background-color:rgb(226, 174, 76);
  color:white;
  padding:10px;
}

